[user]
	email = saattrupdan@gmail.com
    name = saattrupdan
[alias]
    undo = reset --soft HEAD~1
    unstage = reset --
    incoming = !sh -c 'git log --pretty=format:\"%C(green)%h - %Cred%an -%Cblue %ar -%Creset %w(135,1,2)%s\" ..@{u}'
    incomingdetail = !sh -c 'git log --stat -p ..@{u}'
    branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = store
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
